#mapContainer {
  width: 100%;
  height: 100%;
  position: absolute;

  #fullImageContainer {
    position: absolute;
    left: -9979px;
    height: calc(100vh - 230px);
    width: 40%;
    bottom: 200px;
    z-index: 400;

    img {
      position: absolute;
      bottom: 0;
      left: 9999px;
      max-width: 100%;
      max-height: 100%;
      border: 4px solid #ffffff;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    }
  }

  #mapBottomBarContainer {
    position: absolute;
    z-index: 400;
    width: 100%;
    bottom: 0;

    #mapControlsContainer {
      position: relative;
      right: 20px;
      bottom: 30px;

      .MapControls {
        position: absolute;
        bottom: 33px;
        right: 0px;
      }

      #openGalleryButton {
        background-color: white;
        border-radius: 2px;
        border: 0 solid gray;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        color: rgb(100, 100, 100);
        cursor: pointer;
        display: block;
        font-family: Roboto, Arial, sans-serif;
        font-size: 16px;
        height: 29px;
        outline: none;
        padding: 0;
        width: 29px;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    #smallGalleryContainer {
      position: relative;
    }

  }
}

@media (max-width: 750px) {
  #mapContainer {
    #mapBottomBarContainer {
      #mapControlsContainer {
        .MapControls {
          margin-bottom: 45px;
        }
        #openGalleryButton {
          background-color: rgb(52, 109, 241);
          border-radius: 30px;
          margin-top: 17px;
          color: #fff;
          font-size: 32px;
          height: 60px;
          position: absolute;
          width: 60px;
          text-align: center;
        }
      }
    }
  }
}
