#appContainer {
  height: 100%;
  width: 100%;

  #fullScreenBtnContainer {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 700;

    button {
      position: absolute;
      right: 0;
      background-color: white;
      border: 0 solid gray;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      display: block;
      font-size: 24px;
      height: 60px;
      width: 60px;
      outline: none;
      color: rgb(100, 100, 100);
      cursor: pointer;
      border-radius: 30px;
    }

    span {
      position: absolute;
      white-space: nowrap;
      right: 30px;
      top: 22px;
      background-color: rgba(255, 255, 255, 0.75);
      padding: 10px 36px 10px 10px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
}
