.IntPointMarkerPopupContent {
    width: 300px;
    position: relative;
}

.IntPointMarkerPopupContent img {
    width: 100%;
}

.IntPointMarkerPopupContent .PrevNextButtons {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.IntPointMarkerPopupContent .PrevNextButtons button {
    outline: none;
    background-color: #000;
    border: 0;
    color: #fff;
    font-size: 60px;
    height: 100%;
    opacity: 0;
    width: 50%;
}

.IntPointMarkerPopupContent:hover .PrevNextButtons button {
    opacity: 0.25;
}

.IntPointMarkerPopupContent .PrevNextButtons button:hover {
    opacity: 0.45;
}
