.upload-track
  display: flex
  width: 100vw
  height: 100vh

.upload-track__form
  flex-grow: 1
  padding: 8px

.upload-track__dropzone
  width: 100%
  height: 100%
  border: 2px dashed #000
  border-radius: 5px
  box-sizing: border-box
  display: flex
  align-items: center

.upload-track__help-text
  width: 100%
  text-align: center
  overflow-wrap: break-word
