.MobileGallery {
    height: 100%;
    width: 100%;
}

.MobileGallery .preview {
    background-color: #000;
    height: 70%;
    overflow: hidden;
}

.MobileGallery .preview img {
    height: 100%;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.MobileGallery .smallMap {
    height: 30%;
}
