#map-container
  button#follow-button
    | X

javascript:
  $(function () {
    var followButton = $('#follow-button');

    App.followTarget = true;
    App.cener = [#{@center.lat}, #{@center.lng}];

    if (localStorage) {
      App.zoom = localStorage.getItem('zoom') || 13;
    }

    App.mymap = L.map('map-container', {zoomControl: false});

    App.mymap.setView(App.cener, App.zoom);

    L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(App.mymap);

    $.get('/api/pins.json', function (data) {
      data.forEach(function(point){
        L.marker([point.lat, point.lng]).addTo(App.mymap);
      });
    });

    $.get('/api/tracks.json', function (data) {
      L.geoJson(data).addTo(App.mymap);
    });

    $.get('/api/points.json', function (data) {
      App.activeTrack = L.polyline(data, {color: 'red'}).addTo(App.mymap);
    });

    App.socket.subscriptions.create({ channel: 'PointsChannel' }, {
      received: function (data) {
        App.activeTrack.addLatLng(data);
        App.cener = data;
        if (App.followTarget) {
          App.mymap.setView(data, App.zoom);
        }
      }
    });

    App.mymap.on('zoomend', function (event) {
      if (localStorage) {
        localStorage.setItem('zoom', event.target._zoom)
      }
    });

    App.mymap.on('dragstart', function () {
      App.followTarget = false;
      followButton.show();
    });

    followButton.on('click', function () {
      App.followTarget = true;
      App.mymap.setView(App.cener, App.zoom);
      followButton.hide();
    })
  });
